{% extends 'base.html.twig' %}

{% block title %}{{ 'title.record_view'|trans }} {{ record.id }}{% endblock %}

{% block body %}



    {% if record is defined %}
        <h1>{{ record.title }}</h1>
        <h3>{{ 'label.id'|trans }}: {{ record.id }}</h3>

        <h3>{{ 'header.record_content'|trans }}</h3>
        <p>{{ record.content }}</p>
        <h3>{{ 'header.record_tags'|trans }}</h3>
        <p>{{ record.tags|join(', ') }}</p>
    {% else %}
        <p>{{ 'message.record_not_exist'|trans }}</p>
    {%  endif %}

{% endblock %}