{% extends 'base.html.twig' %}

{% block title %}{{ 'site_title.register'|trans }}{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}

    {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}

    <main class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="card col-lg-6 rounded-3 text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">

                            <!-- Site name -->
                            <div class="text-center my-3">
                                <div class="sidebar-heading text-center">
                                    <img
                                        class="img-fluid me-2"
                                        width=50px
                                        src="{{ asset('uploads/icon-coffee.svg') }}"
                                        alt="{{ 'login.logo_img.alt'|trans }}">
                                    <h2 class="d-inline-block" style="vertical-align: sub;">
                                        TeaTime
                                    </h2>
                                    <p class="">
                                        {{ 'login.text.catchprase'|trans }}
                                    </p>
                                </div>
                            </div>

                            <!-- Pills navigation -->
                            <ul class="nav nav-pills nav-justified mb-3">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="{{ url('app_login') }}" role="tab" aria-selected="false">
                                        {{ 'login.button.login'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" href="{{ url('app_register') }}" role="tab" aria-selected="true">
                                        {{ 'login.button.register'|trans }}
                                    </a>
                                </li>
                            </ul>

                            <!-- Register form -->
                            <div class="tab-content">
                                {% if formErrors|length %}
                                    {% for error in formErrors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- Name input -->
                                <div class="form-group mb-4 d-inline-block me-1" style="width: 48%">
                                    <label class="form-label">{{ 'label.register.name'|trans }}</label>
                                    {{ form_widget(registrationForm.name) }}
                                </div>

                                <!-- Surname input -->
                                <div class="form-group mb-4 d-inline-block me-1" style="width: 48%">
                                    <label class="form-label">{{ 'label.register.surname'|trans }}</label>
                                    {{ form_widget(registrationForm.surname) }}
                                </div>

                                <!-- Email input -->
                                <div class="form-group mb-4">
                                    <label class="form-label">{{ 'label.login.email'|trans }}</label>
                                    {{ form_widget(registrationForm.email) }}
                                </div>

                                <!-- Password input -->
                                <div class="form-group mb-4">
                                    <label class="form-label">{{ 'label.register.password_first'|trans }}</label>
                                    {{ form_widget(registrationForm.plainPassword.first) }}
                                </div>

                                <!-- Repeat Password input -->
                                <div class="form-group mb-4">
                                    <label class="form-label">{{ 'label.register.password_second'|trans }}</label>
                                    {{ form_widget(registrationForm.plainPassword.second) }}
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-3">
                                    {{ 'button.register.submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ form_end(registrationForm) }}
{% endblock %}
