{% extends 'default/_dashboard.html.twig' %}

{% block title %}{{ 'title.record_list'|trans }}{% endblock %}
{% block section_title %}
    <h1 class="text-left">Komentarze</h1>
    <a class="btn btn-success" href="{{ path('comment_create') }}">{{ 'button.action_create'|trans }}</a>
{% endblock %}
{% block main %}

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.comment.tea'|trans, 'label.comment.tea') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.comment.author'|trans, 'label.comment.author') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'comment.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.createdAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.tea.title }}</td>
                    <td>{{ comment.author.email }}</td>
                    <td>{{ comment.title }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt|date('Y-m-d') }}</td>
                    <td><a href="{{ path('comment_show', {'id': comment.id}) }}">{{ 'button.action_show'|trans }}</a></td>
                    <td><a href="{{ path('comment_edit', {'id': comment.id}) }}">{{ 'button.action_edit'|trans }}</a></td>
                    <td><a href="{{ path('comment_delete', {'id': comment.id}) }}">{{ 'button.action_delete'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {%  endif %}

{% endblock %}