{% extends 'default/_dashboard.html.twig' %}

{% block title %}{{ 'site_title.comment.show'|trans }} {{ record.id }}{% endblock %}
{% block section_title %}
    <h1 class="text-left">{{ record.title }}</h1>
    <a class="btn btn-success" href="{{ path('comment_create') }}">{{ 'button.comment.action_create'|trans }}</a>
{% endblock %}
{% block main %}

    {% if record is defined %}
        <h3>{{ 'label.id'|trans }}: {{ record.id }}</h3>
        <h3>{{ 'label.comment.tea'|trans }}</h3>
        <a href="{{ path('tea_show', {'id': record.tea.id}) }}">
            <p>{{ record.tea.title }}</p>
        </a>
        <h3>{{ 'label.comment.author'|trans }}</h3>
        <a href="{{ path('user_show', {'id': record.author.id}) }}">
            <p>{{ record.author.email }}</p>
        </a>
        <h3>{{ 'label.title'|trans }}</h3>
        <p>{{ record.title }}</p>
        <h3>{{ 'label.content'|trans }}</h3>
        <p>{{ record.content }}</p>
        <h3>{{ 'label.created_at'|trans }}</h3>
        <p>{{ record.createdAt|date('Y-m-d') }}</p>
        <a href="{{ url('comment_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% else %}
        <p>{{ 'message.record_not_exist'|trans }}</p>
    {%  endif %}

{% endblock %}