{#
Default template for forms.

parameters:
    - page_title: page title
    - form: form view variable
    - submit_label: label for submit button
    - additional_action: anything you want to put before submit button (eg. additional buttons)
#}
{% extends 'default/_dashboard.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}
{% block section_title %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {% if false == form.vars.valid %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'danger',
            message: 'message.form_error'|trans,
        }%}
    {% endif %}
    {{ form_widget(form) }}
    {% if change_password|default(false) %}
        <div class="form-group row float-sm-left">
            <a class="btn btn-secondary my-2" href="{{ url('user_change-password', {id: user.id}) }}" title="{{ 'button.action_delete'|trans }}">
                {{ 'button.action_change-password'|trans }}
            </a>
        </div>
    {% endif %}

    {% if delete_user|default(false) and not is_granted('ROLE_ADMIN')%}
        <div class="form-group row float-sm-left">
            <a class="btn btn-outline-danger" href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'button.action_delete'|trans }}">
                {{ 'button.action_delete_user'|trans }}
            </a>
        </div>
    {% endif %}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ submit_label }}" class="btn btn-primary"/>
    </div>
    {% if back_to_list_path|default(false) %}
        <div class="form-group row float-sm-left">
            <a href="{{ url(back_to_list_path) }}" class="btn btn-link">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% endif %}


    {{ form_end(form) }}
{% endblock %}