
    <!-- Sidebar-->
    <div class="border-end bg-light" id="sidebar-wrapper">

        <!-- Site logo -->
        <div class="sidebar-heading text-center">
            <a class="nav-link my-1 mb-4" href="{{ path("tea_index") }}">
                <img class="img-fluid me-2" width=40px src="{{ asset("uploads/icon-coffee.svg") }}" alt="{{ 'site_logo_img.alt'|trans }}">
                TeaTime
            </a>
        </div>

        <!-- Profile picture and info -->
        <div class="text-center">
            <a href="{{ url('avatar_create') }}" title="{{ 'avatar.create'|trans }}">
                <div style="width: 170px; height: 170px;" class="bg-image hover-overlay rounded-circle mb-3 shadow-5 mx-auto">
                    {% if app.user.avatar.filename is defined and app.user.avatar.filename|length %}
                        <img
                            class="profile-pic"
                            style="width: 170px; height: 170px; object-fit: cover;"
                            alt="{{ 'sidebar.avatar_img.alt'|trans }}"
                            src="{{ asset(avatars_directory~app.user.avatar.filename) }}"
                        />
                    {% else %}
                        <img
                            class="profile-pic"
                            style="width: 170px; height: 170px; object-fit: cover;"
                            alt="{{ 'sidebar.avatar_img.alt'|trans }}"
                            src="{{ asset(avatars_directory~"profile-pic-placeholder.jpg") }}"
                        />
                    {% endif %}
                    <div
                        class="mask d-flex justify-content-center align-items-center"
                        style="
                          background: linear-gradient(
                            45deg,
                            hsla(168, 85%, 52%, 0.5),
                            hsla(263, 88%, 45%, 0.5) 100%
                          );
                    ">
                        <p class="text-white mb-0">{{ 'avatar.create'|trans }}</p>
                    </div>
                </div>
            </a>

            <h4 class="mb-1">
                {% if app.user.name is defined and app.user.name|length %}
                    <strong> {{ app.user.name }} </strong>
                {% endif %}
                {% if app.user.surname is defined and app.user.surname|length %}
                    <strong> {{ app.user.surname }} </strong>
                {% endif %}
            </h4>

            <p class="text-muted">
                {{ app.user.email }}
            </p>
        </div>

        <!-- Navigation -->
        <div class="list-group list-group-flush px-4 hover-overlay">
            <a
                class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                href="{{ path('tea_index') }}"
                title="{{ 'sidebar.link.tea'|trans }}"
            >
                {{ 'sidebar.link.tea'|trans }}
            </a>
            <a
                class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                href="{{ path('category_index') }}"
                title="{{ 'sidebar.link.category'|trans }}"
            >
                {{ 'sidebar.link.category'|trans }}
            </a>
            <a
                class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                href="{{ path('tag_index') }}"
                title="{{ 'sidebar.link.tag'|trans }}"
            >
                {{ 'sidebar.link.tag'|trans }}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a
                    class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                    href="{{ path('comment_index') }}"
                    title="{{ 'sidebar.link.comment'|trans }}"
                >
                    {{ 'sidebar.link.comment'|trans }}
                </a>
                <a
                    class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                    href="{{ path('user_index') }}"
                    title="{{ 'sidebar.link.user'|trans }}"
                >
                    {{ 'sidebar.link.user'|trans }}
                </a>
            {% endif %}
            <a
                class="sidebar-nav-item list-group-item list-group-item-action bg-light p-3"
                href="{{ path('user_edit', {id: app.user.id}) }}"
                title="{{ 'sidebar.link.settings'|trans }}"
            >
                {{ 'sidebar.link.settings'|trans }}
            </a>
            <a
                class="sidebar-nav-item list-group-item list-group-item-danger bg-light p-3"
                href="{{ path('app_logout') }}"
                title="{{ 'sidebar.link.logout'|trans }}"
            >
                {{ 'sidebar.link.logout'|trans }}
            </a>
        </div>
    </div>

