{% extends 'default/_dashboard.html.twig' %}

{% block title %}{{ 'title.record_list'|trans }}{% endblock %}
{% block section_title %}
    <h1 class="text-left">Herbaty</h1>
    <a class="btn btn-success" href="{{ path('tea_create') }}">{{ 'button.action_create'|trans }}</a>
{% endblock %}
{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tea.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tea.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'tea.category_id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.tag'|trans, 'tag.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tea in pagination.items %}
                <tr>
                    <td>{{ tea.title }}</td>
                    <td>{{ tea.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ url('tea_index', {'filters.category_id' : tea.category.id}) }}" title="{{ tea.category.title }}">
                            {{ tea.category.title }}
                        </a></td>
                    <td>
                        {% if tea.tags is defined and tea.tags|length %}
                            {% for tag in tea.tags %}
                                <a
                                    class="badge badge-pill badge-secondary"
                                    href="{{ url('tea_index', {'filters.tag_id' : tag.id}) }}"
                                    title="{{ tag.title }}"
                                >
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
{#                    <td>{{ tea.author.email }}</td>#}
                    <td>
                        {% if is_granted('VIEW', tea) %}
                            <a class="btn btn-outline-primary" href="{{ url('tea_show', {id: tea.id}) }}" title="{{ 'button.action_show'|trans }}">
                                {{ 'button.action_show'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('EDIT', tea) %}
                            <a class="btn btn-outline-success" href="{{ url('tea_edit', {id: tea.id}) }}" title="{{ 'button.action_edit'|trans }}">
                                {{ 'button.action_edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', tea) %}
                            <a class="btn btn-outline-danger" href="{{ url('tea_delete', {id: tea.id}) }}" title="{{ 'button.action_delete'|trans }}">
                                {{ 'button.action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {%  endif %}

{% endblock %}