{% extends 'default/_dashboard.html.twig' %}

{% block title %}{{ 'title.record_view'|trans }} {{ tea.id }}{% endblock %}
{% block section_title %}
    <h1 class="text-left">{{ tea.title }}</h1>
    <a class="btn btn-success" href="{{ path('tea_create') }}">{{ 'button.action_create'|trans }}</a>
{% endblock %}
{% block body %}
    {% if tea is defined %}
        <div class="row">

            <div class="col-md-4 text-center">
                <div class="col-md-12 card p-3 tea-tile-info">
                    <h3 class="mb-2 mt-1 h5">Gatunek</h3>
                    <p class="h2">{{ tea.category.title }}</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="col-md-12 card p-3 tea-tile-info">
                    <h3 class="mb-2 mt-1 h5">Region</h3>
                    <p class="h2">{{ tea.region }}</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="col-md-12 card p-3 tea-tile-info">
                    <h3 class="mb-2 mt-1 h5">Sklep</h3>
                    <p class="h2">{{ tea.vendor }}</p>
                </div>
            </div>

            <h3 class="mb-2 mt-4 h5 text-start">Skład</h3>
            <p class="text-start mb-4">
                {{ tea.ingredients }}
            </p>

            <div class="col-md-6">
                <div class="col-md-12 card p-3 tea-tile-info text-center">
                    <h3 class="mb-2 mt-1 h5">Czas parzenia</h3>
                    <p class="h2">{{ tea.steepTime }}</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12 card p-3 tea-tile-info text-center">
                    <h3 class="mb-2 mt-1 h5">Temperatura parzenia</h3>
                    <p class="h2">{{ tea.steepTemp }} ℃</p>
                </div>
            </div>

            <h3 class="mb-2 mt-4 h5 text-start">Opis</h3>
            <p class="text-start mb-4">
                {{ tea.description|markdown_to_html }}
            </p>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="mb-2 mt-1 h5">{{ 'label.created_at'|trans }}</h3>
                <p>{{ tea.createdAt|date('Y-m-d') }}</p>
            </div>
            <div>
                <h3 class="mb-2 mt-1 h5">{{ 'label.updated_at'|trans }}</h3>
                <p>{{ tea.updatedAt|date('Y-m-d') }}</p>
            </div>
            <div>
                <h3 class="mb-2 mt-1 h5">{{ 'label.id'|trans }}: {{ tea.id }}</h3>
            </div>
        </div>
        <h3 class="mb-2 mt-4 h5 text-start">Komentarze</h3>
        <div class="my-3 p-4 rounded" style="background-color: lightgrey">
            <h4 class="mb-2 h5 text-start">Tytuł komentarza</h4>
            <p class="my-2">Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza</p>
            <p class="d-inline text-muted">Autor: Radek Chybowski</p>
            <p class="d-inline mx-5 text-muted">Dodano: 01-02-2023</p>
        </div>
        <div class="my-3 p-4 rounded" style="background-color: lightgrey">
            <h4 class="mb-2 h5 text-start">Tytuł komentarza</h4>
            <p class="my-2">Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza</p>
            <p class="d-inline text-muted">Autor: Radek Chybowski</p>
            <p class="d-inline mx-5 text-muted">Dodano: 01-02-2023</p>
        </div>

        <a class="btn btn-secondary" href="{{ url('tea_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% else %}
        <p>{{ 'message.record_not_exist'|trans }}</p>
    {%  endif %}

{% endblock %}